argcomplete==1.10.0
argh==0.26.2
Arpeggio==1.9.0
atomicwrites==1.3.0
attrs==19.1.0
biopython==1.70
clyngor==0.3.19
clyngor-with-clingo==5.3.post1
cobra==0.14.0
depinfo==1.5.1
docopt==0.6.2
future==0.17.1
gffutils==0.9
importlib-metadata==0.17
MeneTools==2.0.1
Miscoto==2.0.3
more-itertools==7.0.0
mpmath==1.1.0
mpwt==0.5
numpy==1.16.4
optlang==1.4.4
packaging==19.0
padmet==3.2.1
padmet-utils==0.0.8
pandas==0.24.2
pipdeptree==0.13.2
pluggy==0.12.0
py==1.8.0
pyfaidx==0.5.5.2
pyparsing==2.4.0
pyPEG2==2.15.2
pytest==4.6.1
python-dateutil==2.8.0
python-libsbml==5.16.0
pytz==2019.1
ruamel.yaml==0.15.96
simplejson==3.16.0
six==1.12.0
swiglpk==4.65.0
sympy==1.4
tabulate==0.8.3
wcwidth==0.1.7
zipp==0.5.1
